### for_list_format

### List

In [1]:
juso='광주광역시 중구 창외전로 6번지 3층 창의관'

In [2]:
juso

'광주광역시 중구 창외전로 6번지 3층 창의관'

In [3]:
type(juso)

str

In [10]:
len(juso)

24

In [11]:
juso,len(juso)

('광주광역시 중구 창외전로 6번지 3층 창의관', 24)

In [15]:
addr=juso.split()

In [16]:
addr,len(addr),type(addr)

(['광주광역시', '중구', '창외전로', '6번지', '3층', '창의관'], 6, list)

In [17]:
addr[:2],addr[3:]

(['광주광역시', '중구'], ['6번지', '3층', '창의관'])

In [19]:
juso.startswith('인천')

False

In [28]:
juso.endswith('동')

False

In [29]:
'광주광역시' in addr

True

In [30]:
'광주' in juso

True

In [22]:
s = 'A is {},{}'
pr = s.format('사과','오렌지')
print(pr)

A is 사과,오렌지

In [31]:
info_1 = '학교:{},학번:{},이름:{}'
p = info_1.format('인천여상',30115,'최고은')
print(p)

학교:인천여상,학번:30115,이름:최고은

In [32]:
info_2 = '학교:%s 학번:%d 성적:%2.2f '
p = info_2%('송도고',20101,90.80)
print(p)

학교:송도고 학번:20101 성적:90.80

In [33]:
a = '%s %d 개 가격은 %.2f 달라'
b = a% ('햄버거',2,8.0)
print(b)

햄버거 2 개 가격은 8.00 달라

### [문제1] 30부터 50까지 중에서 홀수만 출력

In [74]:
for i in range(30,51) :
    if i%2!=0 :
        print(i,end=" ")

31 33 35 37 39 41 43 45 47 49

### [문제2] 아이디 (문자)를 입력받아 동일하면
    안녕하세요 회원님
    아니면 회원가입 하세요

In [9]:
abc=input('아이디 입력>> ')        
if abc=='id':
    print('안녕하세요 회원님')
else:
    print('회원가입 하세요')

아이디 입력>> 네
회원가입 하세요

### [문제3] 입력예) 인천정보산업고/30105/김장민 입력받아

In [54]:
stu=list(map(str,input ('내용입력>>').split('/')))

내용입력>>인천정보산업고/30105/김장민

In [56]:
stu

['인천정보산업고', '30105', '김장민']

In [61]:
print('학교 :',stu[0])
print('학번 :',stu[1])
print('이름 :',stu[2])

학교 : 인천정보산업고
학번 : 30105
이름 : 김장민

### [문제4] 숫자데이터 5개를 입력받아

In [38]:
su=list(map(int,input('숫자5개입력>>').split()))

숫자5개입력>>1 2 3

In [35]:
type(su)

list

In [43]:
sum=0

for i in su :
    sum+=i
    print (i)

1
2
3

In [44]:
print(sum)

6

In [48]:
print('합계 : ',sum)
print('평균 : ',sum/len(su))

합계 :  6
평균 :  2.0

In [47]:
sum/len(su)

2.0